html, body {
	height: 100%;
}

body {
	font-family: "Verdana";
	margin: 0 auto;
	padding: 0;
	width: 80%;
	min-width: 800px;
	background-color: white;
	position: relative;
	overflow-x: hidden;
	display: table;
}

a {
	text-decoration: none;
}

#wrapper {
	display: table-row;
	height: 100%;
}

#banner {
	position: relative;
}

#banner a:link, #banner a:visited {
	color: white;
}

#banner h1 {
	margin: 0;
	background: #0c68af url(../img/logo.png) no-repeat 3020px 20px;
	height: 80px;
	padding-left: 3000px;
	margin-left: -3000px;
	padding-right: 3000px;
	margin-right: -3000px;
}

#banner ul {
  margin: 0;
  padding: 0;
}

nav {
	padding-left: 3000px;
	margin-left: -3000px;
	padding-right: 3000px;
	margin-right: -3000px;
}

#nav-main li, #nav-other li {
	display: inline;
	padding: 0 10px 0 0;
}

#nav-main {
  width: 100%;
  background-color: #08406c;
  border-top: 1px solid black;
}
 
#nav-main ul {
	overflow: hidden;
  margin-left: 10px;
}
 
#nav-main ul li {
  float: left;
  text-align: center;
}

#nav-main ul li a {
	display: block;
	background-color: #08406c;
	padding: 10px;
	color: white;
	text-align: center;
}

#nav-main ul li a:hover {
	background: #0c68af;
}

#nav-other {
	background-color: #08406c;
	border-bottom: 1px solid black;
	width: 100%;
	text-align: right;
}

#search-box {
	position: absolute;
	top: 50px;
	right: 50px;
}

#content {
	float: left;
	margin: 0;
	padding: 0;
	background-color: white;
}

#featured {
	text-align: center;
	overflow: hidden;
	padding: 20px;
	border: 1px solid black;
	position: relative;
}

#featured h3 {
	float: left;
	margin: 0;
	padding: 0;
	background-color: #0c68af;
	color: white;
}

#featured img {
	clear: left;
	float: left;
	width: 47.5%;
}

#featured div {
	float: left;
	text-align: left;
	margin-left: 20px;
	width: 47.5%;
	height: 300px;
	position: relative;
	border: 1px solid black;
}

#featured div h2 {
	margin: 0;
}

#featured div a {
	position: absolute;
	bottom: 0;
	left: 0;
}

#first, #second, #third {
	float: left;
	width: 29%;
	padding: 20px;
}

#articles img {
	width: 100%;
}

footer {
  background-color: #08406c;
  color: white;
  width: 100%;
  padding-left: 3000px;
	margin-left: -3000px;
	padding-right: 3000px;
	margin-right: -3000px;
	height: 20px;
	position: relative;
}