<p><%= link_to "Edit", edit_article_path(@article), { class: "user-links" } %> 
<h1><%= @article.title %></h1>

<body>

<p><%= image_tag @article.picture.url if @article.picture? %></p>
<p><%= @article.body %></p>

</body>