<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>mobileGreviews</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="wrapper">
	<header id="banner">
		<nav id="nav-other">
			<ul>
				<li><a href="#">about us</a></li>
				<li><a href="#">contact us</a></li>
				<li><a href="#">register</a></li>
				<li><a href="#">login</a></li>
			</ul>
		</nav>
	  <h1><a href="index.html"></a></h1>
		<nav id="nav-main">
			<ul>
				<li><a href="#" class="active">HOME</a></li>
				<li><a href="#">iOS</a></li>
				<li><a href="#">ANDROID</a></li>
				<li><a href="#">POPULAR</a></li>
				<li><a href="#">TOP REVIEWS</a></li>
				<li><a href="#">FORUMS</a></li>
			</ul>
		</nav>
		<form id="search-box">
		  <input id="search" type="search" placeholder="Search...">
		</form>
	</header>
	<div id="content">
	  <aside id="featured" class="article">
	  	<h3 class="category">Featured</h3>
	  	<div class="image">
	    	<img src="../mockup/mobileversion.png" alt="featured article">
	    </div>
	    <div class="right">
	    	<h2>Title</h2>
	    	<p>By Author on Date in Tags</p>
	    	<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    	<a href="#">read more...</a>
	    </div>
	  </aside>
	  <section id="articles">
	    <section id="first">
	    	<h3 class="category">Recent</h3>
	  	<div class="image">
	    	<img src="../mockup/mobileversion.png" alt="featured article">
	    </div>
	    <div class="right">
	    	<h2>Title</h2>
	    	<p>By Author on Date in Tags</p>
	    	<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    	<a href="#">read more...</a>
	    </div>
	    </section>
	    <section id="second">
	    	<h3 class="category">Recent</h3>
	  	<div class="image">
	    	<img src="../mockup/mobileversion.png" alt="featured article">
	    </div>
	    <div class="right">
	    	<h2>Title</h2>
	    	<p>By Author on Date in Tags</p>
	    	<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    	<a href="#">read more...</a>
	    </div>
	    </section>
	    <section id="third">
	    	<h3 class="category">Recent</h3>
	  	<div class="image">
	    	<img src="../mockup/mobileversion.png" alt="featured article">
	    </div>
	    <div class="right">
	    	<h2>Title</h2>
	    	<p>By Author on Date in Tags</p>
	    	<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    	<a href="#">read more...</a>
	    </div>
	    </section>
	  </section>
	</div>
	</div>
	<footer>
		Copyright mobileGreviews 2014. All Rights Reserved.
	</footer>
</body>
</html>