html, body {
  height: 100%;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

body {
  font-family: "Verdana";
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  width: 850px;
  background-color: white;
  position: relative;
  overflow-x: hidden;
  display: table;
}

a {
  text-decoration: none;
}

#wrapper {
  display: table-row;
  height: 100%;
}

/* banner */

#banner {
  position: relative;
}

#banner a:link, #banner a:visited {
  color: white;
}

#banner h1 {
  margin: 0;
  background: #0c68af image-url("logo.png") no-repeat 3020px 20px;
  height: 80px;
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}

#banner ul {
  margin: 0;
  padding: 0;
}

/* top navigation */

nav {
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}

#nav-main li, #nav-other li {
  display: inline;
  margin: 0;
  padding: 0 10px 0 0;
}

#nav-main {
  width: 100%;
  background-color: #08406c;
  border-top: 1px solid black;
}
 
#nav-main ul {
  overflow: hidden;
  margin-left: 10px;
}
 
#nav-main ul li {
  float: left;
  text-align: center;
}

#nav-main ul li a {
  display: block;
  background-color: #08406c;
  padding: 10px;
  color: white;
  text-align: center;
}

#nav-main ul li a:hover {
  background: #0c68af;
}

#nav-other {
  background-color: #08406c;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: right;
}

#search-box {
  position: absolute;
  top: 50px;
  right: 50px;
}

/* home page */

#content {
  float: left;
  margin: 0;
  padding: 0;
  background-color: white;
}

#featured {
  padding: 20px;
  clear: both;
}

h3 {
  display: block;
  float: left;
  width: 100px;
  margin: 0;
  padding: 0 0 0 5px;
  background-color: #0c68af;
  color: white;
}

#featured img {
  float: left;
}

#featured .right {
  float: left;
  text-align: left;
  margin-left: 20px;
  width: 54.5%;
  height: 250px;
  position: relative;
}

#featured div h2 {
  margin: 0;
}

#featured div .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
}

#featured .image {
  clear: left;
  float: left;
  width: 42.5%;
  height: 250px;
  overflow: hidden;
}

.articles .image {
  clear: left;
  height: 160px;
  overflow: hidden;
}

#right p {
  margin: 0;
  padding: 0;
}

#featured .body {
  margin-top: 10px;
  height: 155px;
  overflow: hidden;
}

.article-preview {
  margin-top: 10px;
  height: 150px;
  overflow: hidden;
}

.article-columns {
  float: left;
  width: 28.5%;
  padding: 20px;
}

.article-thumbs {
  width: 100%;
}

.pagination {
  float: left;
  clear: both;
  li {
    display: inline;
  }
}

.clear {
  float: left;
  clear: both;
}

/* footer */

footer {
  background-color: #08406c;
  color: white;
  width: 100%;
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
  height: 20px;
  position: relative;
}